@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Barrio&family=DotGothic16&family=Noto+Sans+Symbols+2&family=Press+Start+2P&family=Rubik+Iso&display=swap');

/* * { 
    margin: 0;
} */

body {
    margin: 0;
    height: 100vh;
    font-family: 'Press Start 2P', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
        rgba(0, 0, 0, 0.9),
        rgba(0, 0, 0, 0.8)),
        url('./pexels-chris-f-10217880.jpg') no-repeat center;
    background-size: cover;
}

h2 {
    letter-spacing: 2px;
    font-size: 24px;
    text-align: center;
    color: gold;
}

.clock {
    display: flex;
}

.clock div {
    margin: 5px;
    position: relative;
}

.clock span {
    width: 100px;
    height: 80px;
    background-color: orangered;
    opacity: 0.8;
    color: gold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    padding: 10px 20px;
}

.clock .text {
    height: 30px;
    font-size: 15px;
    font-weight: bolder;
    letter-spacing: 1px;
    background-color: gold;
    color: black;
    opacity: 0.8;
    text-shadow: 2px 2px 4px rgba(255, 68, 0, 0.704);
}

.clock #ampm {
    position: absolute;
    bottom: 0;
    width: 60px;
    height: 30px;
    font-size: 15px;
    background-color: gold;
    color: black;
    text-shadow: 2px 2px 4px rgba(255, 68, 0, 0.704);
}