@import url('https://fonts.googleapis.com/css2?family=Contrail+One&family=Ewert&family=Faster+One&family=Fredericka+the+Great&family=Inspiration&family=Nabla&family=Petit+Formal+Script&family=Sancreek&family=Smokum&family=Stint+Ultra+Condensed&display=swap');

body {
    height: 100vh;
    font-family: 'Fredericka the great', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: sienna;
    background: linear-gradient(
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.7)),
        url('./pexels-justin-hamilton-92248.jpg') no-repeat center;
    background-size: cover;
}

.calendar-container {
    background-color: beige;
    width: 300px;
    text-align: center;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.month-name {
    margin: 0;
    color: beige;
    background-color: sienna;
    padding: 10px;
    font-size: 30px;
    font-weight: bolder;
}

.day-name {
    font-size: 20px;
    font-weight: bold;
}

.day-number {
    font-size: 80px;
    font-family: 'Ewert', sans-serif;
    font-weight: bolder;
    margin: 0;
}

.year {
    margin: 20px 0;
    font-size: 20px;
    font-weight: bolder;
}