@import url('https://fonts.googleapis.com/css2?family=Cagliostro&family=Eagle+Lake&family=Encode+Sans+Semi+Expanded:wght@300;400;500;600;700&family=KoHo:wght@300;400;500;600;700&family=Kodchasan:wght@300;400;500;600;700&family=Margarine&family=McLaren&family=Nova+Flat&family=Square+Peg&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&family=Caveat&family=Dosis&family=Fontdiner+Swanky&family=IBM+Plex+Sans&family=Merienda&family=Nosifer&family=Rubik+Maze&family=Shantell+Sans&family=Signika+Negative&family=Six+Caps&family=Stick+No+Bills&display=swap');



body {
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background: linear-gradient(
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.7)),
        url('./vitalii-khodzinskyi-jDru-j8Gia4-unsplash.jpg') no-repeat center;
    background-size: cover;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
}

.btn {
    font-size: 40px;
    background-color: red;
    padding: 20px 40px;
    border: 2px solid beige;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
    text-decoration: none;
    color: beige;
    position: relative;
    overflow: hidden;
}

.btn span {
    position: relative;
    z-index: 1;
}

.btn::before {
    content: "";
    position: absolute;
    background-color: darkred;
    width: 0;
    height: 0;
    left: var(--xPos);
    top: var(--yPos);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition: width 0.5s, height 0.5s; 
}

.btn:hover::before {
    width: 450px;
    height: 450px;

}
